"I (We) certify that the code and data in this assignment were generated independently,using only the tools and resources defined in the course and that I (we) did not receive any external help, coaching or contributions during the production of this work"

In [ ]:
#1 Import Libraries
import pandas as pd
import numpy as np
from math import e

In [193]:
#2 Process the data and print the statistics
df = pd.read_csv('penguins.csv')
df.describe()
df["bill_depth_mm"].fillna(np.mean(df["bill_depth_mm"]), inplace = True)
df["flipper_length_mm"].fillna(np.mean(df["flipper_length_mm"]), inplace = True)
df["body_mass_g"].fillna(np.mean(df["body_mass_g"]), inplace = True)
df.dropna(subset=['sex'], inplace = True)
print(df.isnull().sum())
stats = df.describe()
stats

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,333.000000,333.000000,333.000000,333.000000,333.000000
mean,43.992793,17.164865,200.966967,4207.057057,2008.042042
std,5.468668,1.969235,14.015765,805.215802,0.812944
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.500000,15.600000,190.000000,3550.000000,2007.000000
50%,44.500000,17.300000,197.000000,4050.000000,2008.000000
75%,48.600000,18.700000,213.000000,4775.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [196]:
#3 Convert features with string datatype to categorical (species, island, sex)
df['species'] = df.species.astype('category')
df['island'] = df.island.astype('category')
df['sex'] = df.sex.astype('category')
df['species'], df['island'], df['sex']
df['species'] = df['species'].replace(to_replace ="Adelie",value = 1)
df['species'] = df['species'].replace(to_replace ="Chinstrap",value = 2)
df['species'] = df['species'].replace(to_replace ="Gentoo",value = 3)
df['sex'] = df['sex'].replace(to_replace ="male",value = 1)
df['sex'] = df['sex'].replace(to_replace ="female",value = 2)
df['island'] = df['island'].replace(to_replace ="Biscoe",value = 1)
df['island'] = df['island'].replace(to_replace ="Dream",value = 2)
df['island'] = df['island'].replace(to_replace ="Torgersen",value = 3)
df['species'], df['island'], df['sex']

(0      1
 1      1
 2      1
 4      1
 5      1
       ..
 339    2
 340    2
 341    2
 342    2
 343    2
 Name: species, Length: 333, dtype: category
 Categories (3, int64): [1, 2, 3], 0      3
 1      3
 2      3
 4      3
 5      3
       ..
 339    2
 340    2
 341    2
 342    2
 343    2
 Name: island, Length: 333, dtype: category
 Categories (3, int64): [1, 2, 3], 0      1
 1      2
 2      2
 4      2
 5      1
       ..
 339    1
 340    2
 341    1
 342    1
 343    2
 Name: sex, Length: 333, dtype: category
 Categories (2, int64): [2, 1])

In [197]:
#4 Normalize non-categorical features (culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g)
z = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']
for col in z:
  min1 = df[col].min()
  max1 = df[col].max()
  print("Min, Max of", col,"=",min1, max1)
  df[col] = (df[col]-df[col].min())/(df[col].max()-df[col].min())
  print(df[col])

Min, Max of bill_length_mm = 32.1 59.6
0      0.254545
1      0.269091
2      0.298182
4      0.167273
5      0.261818
         ...
339    0.861818
340    0.414545
341    0.636364
342    0.680000
343    0.658182
Name: bill_length_mm, Length: 333, dtype: float64
Min, Max of bill_depth_mm = 13.1 21.5
0      0.666667
1      0.511905
2      0.583333
4      0.738095
5      0.892857
         ...
339    0.797619
340    0.595238
341    0.607143
342    0.702381
343    0.666667
Name: bill_depth_mm, Length: 333, dtype: float64
Min, Max of flipper_length_mm = 172.0 231.0
0      0.152542
1      0.237288
2      0.389831
4      0.355932
5      0.305085
         ...
339    0.593220
340    0.508475
341    0.355932
342    0.644068
343    0.440678
Name: flipper_length_mm, Length: 333, dtype: float64
Min, Max of body_mass_g = 2700.0 6300.0
0      0.291667
1      0.305556
2      0.152778
4      0.208333
5      0.263889
         ...
339    0.361111
340    0.194444
341    0.298611
342    0.388889
343    0.298611
Name: body_mass_g, Length: 333, dtype: float64

In [198]:
#5 Choose your target Y. For this dataset, there is a number of options:
#a) We can use binary classifier to predict which gender a penguin belongs to (female or male). In this case column sex can be used as Y (target)
def IsFemale(x):
  if x == 2:
    return 1
  return 0
#for i in df['sex']:
  #print(IsFemale(i))

In [199]:
#5 Choose your target Y. For this dataset, there is a number of options:
#b) We can use binary classifier to predict if a penguin location is Adélie island or not. In this case column island can be used as Y (target)
def IsFromAdélie(x):
  if x == 1:
    return 1
  return 0

In [202]:
#Part 6
# Selected Output Y as Is Penguin From Adeilie Island
x = df[['island','bill_length_mm','bill_depth_mm','flipper_length_mm','body_mass_g','sex','year']]
#print(x)
y = []
for i in df['species']:
  y.append(IsFromAdélie(i))
y = pd.DataFrame(y, columns = ['IsFromAdélie'])
print(y.to_string())

     IsFromAdélie
0               1
1               1
2               1
3               1
4               1
5               1
6               1
7               1
8               1
9               1
10              1
11              1
12              1
13              1
14              1
15              1
16              1
17              1
18              1
19              1
20              1
21              1
22              1
23              1
24              1
25              1
26              1
27              1
28              1
29              1
30              1
31              1
32              1
33              1
34              1
35              1
36              1
37              1
38              1
39              1
40              1
41              1
42              1
43              1
44              1
45              1
46              1
47              1
48              1
49              1
50              1
51              1
52              1
53              1
54              1
55              1
56              1
57              1
58              1
59              1
60              1
61              1
62              1
63              1
64              1
65              1
66              1
67              1
68              1
69              1
70              1
71              1
72              1
73              1
74              1
75              1
76              1
77              1
78              1
79              1
80              1
81              1
82              1
83              1
84              1
85              1
86              1
87              1
88              1
89              1
90              1
91              1
92              1
93              1
94              1
95              1
96              1
97              1
98              1
99              1
100             1
101             1
102             1
103             1
104             1
105             1
106             1
107             1
108             1
109             1
110             1
111             1
112             1
113             1
114             1
115             1
116             1
117             1
118             1
119             1
120             1
121             1
122             1
123             1
124             1
125             1
126             1
127             1
128             1
129             1
130             1
131             1
132             1
133             1
134             1
135             1
136             1
137             1
138             1
139             1
140             1
141             1
142             1
143             1
144             1
145             1
146             0
147             0
148             0
149             0
150             0
151             0
152             0
153             0
154             0
155             0
156             0
157             0
158             0
159             0
160             0
161             0
162             0
163             0
164             0
165             0
166             0
167             0
168             0
169             0
170             0
171             0
172             0
173             0
174             0
175             0
176             0
177             0
178             0
179             0
180             0
181             0
182             0
183             0
184             0
185             0
186             0
187             0
188             0
189             0
190             0
191             0
192             0
193             0
194             0
195             0
196             0
197             0
198             0
199             0
200             0
201             0
202             0
203             0
204             0
205             0
206             0
207             0
208             0
209             0
210             0
211             0
212             0
213             0
214             0
215             0
216             0
217             0
218             0
219             0
220             0
221             0
222             0
223             0
224             0
225             0
226             0
227             0
228             0
229             0
230             0
231             0
232             0
233             0
234             0
235             0
236             0
237             0
238             0
239             0
240             0
241             0
242             0
243             0
244             0
245             0
246             0
247             0
248             0
249             0
250             0
251             0
252             0
253             0
254             0
255             0
256             0
257             0
258             0
259             0
260             0
261             0
262             0
263             0
264             0
265             0
266             0
267             0
268             0
269             0
270             0
271             0
272             0
273             0
274             0
275             0
276             0
277             0
278             0
279             0
280             0
281             0
282             0
283             0
284             0
285             0
286             0
287             0
288             0
289             0
290             0
291             0
292             0
293             0
294             0
295             0
296             0
297             0
298             0
299             0
300             0
301             0
302             0
303             0
304             0
305             0
306             0
307             0
308             0
309             0
310             0
311             0
312             0
313             0
314             0
315             0
316             0
317             0
318             0
319             0
320             0
321             0
322             0
323             0
324             0
325             0
326             0
327             0
328             0
329             0
330             0
331             0
332             0

In [ ]:
#Part 7
#Divide the dataset into training and test, as 80% - training, 20% - testing dataset.

x_train = x[:int(len(x)*0.8)]
x_test = x[int(len(x)*0.8):]
y_train = y[:int(len(y)*0.8)]
y_test = y[int(len(y)*0.8):]
print(x_train)
print(x_test)
print(y_train)
print(y_test)

In [204]:
#Part 8
#Print the shape of your X_train, y_train, X_test, y_test
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)
x_train = np.array(x_train)
x_test = np.array(x_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

(266, 7)
(67, 7)
(266, 1)
(67, 1)

In [207]:
#Part 9
#Recommended structure of your code to define logistic regression:
#Getting Errors in these, Need to complete this task.
class LogitRegression:
  iterations = 0
  learning_rate = 0
  def __init__(self,lr=1e-6, iter = 100000):
    self.iterations = iter
    self.learning_rate = lr
    pass
  def fit(self, x, y):
    # This method performs the training.
    # Initialize weights
    # For a number of iterations
    # Call gradient_descent function
    # Call cost function and keep it in an array , e.g.loss.append()
    costs = []
    wt = []
    N = len(y)
    w = np.random.uniform(0,1,7)
    wt.append(w)
    b = 0
    gd = 0
    for i in range(self.iterations):
      w = wt[i]
      t_cosf = 0
      for j in range(N):
        if j >= len(x) or j >= len(y):
          break
        t_cosf += self.cost(x[j], y[j], w, b)
        gd += self.gradient_descent(w, x[j], y[j], b)

      gd = gd/N
      t_cosf = t_cosf/N
      w = w - np.array([self.learning_rate * gd]*7)
      wt.append(w)
      costs.append(t_cosf)
    return wt, costs

  def sigmoid(self, z):
    return 1/ (1 + pow(e,-z))
    
  def cost(self, x ,y, w, b):
    wT = w.transpose()
    h = self.sigmoid(np.matmul(x,wT) + b)
    if h == 1.0:
      return 0
    c =-y * np.log(h) - (1-y) * np.log(1-h)
    return c

  def gradient_descent(self, w, x, y, b):
    wT = w.transpose()
    y_ = self.sigmoid(np.matmul(x,wT) + b)
    xT = x.transpose()
    gd = xT* (y_ - y)
    return gd

  def predict(self, w, x, b):
    y_ = self.sigmoid(np.dot(x,w.transpose()) + b)
    if y_ >= 0.5:
      return 1
    return 0

In [ ]:
#Part 10
#Getting issues in Part 9, solving the issues
learning_rate= e**-6
iterations=100000
model = LogitRegression(learning_rate, iterations)
z = model.fit(x_train, y_train)